.col1 {width: 233px; height: 233px}
.col1 img {width: 233px; height: 233px}
.col2 {width: 478px; height: 478px}
.col2 img{width: 478px; height: 478px; margin-left: 0px;}
.col3 {width: 478px; height: 233px}
.col3 img {width: 478px; height: 233px}
.col4 {width: 233px; height: 478px}
.col4 img {width: 233px; height: 478px}